/* $Id */

table.export-queue th {
  white-space: nowrap;
}

table.export-queue th,
table.export-queue td {
  text-align: center;
}

table.export-queue tr {
  vertical-align: top;
}

div form#export-queue-report-filter-form {
  margin-bottom: 0;
}

form#export-queue-report-filter-form input#edit-submit {
  margin-right: 1em;
}

